option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name:APP_KEY
     value: null
   - option_name:AWS_S3_BUCKET
     value: null
   - option_name:AWS_S3_KEY
     value: null
   - option_name:AWS_S3_REGION
     value: null
   - option_name:AWS_S3_SECRET
     value: null

