# Set composer folder for this command and update
commands:
   updateComposer:
      command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"

option_settings:
   # Add environment variable to set composer home folder
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: COMPOSER_HOME
     value: /root

   # update php.ini file with new document root and specific composer --no-dev
   - namespace: aws:elasticbeanstalk:container:php:phpini
     option_name: document_root
     value: /public

   - namespace: aws:elasticbeanstalk:container:php:phpini
     option_name: composer_options
     value: --no-dev

container_commands:
   00optimize:
      command: "/usr/bin/composer.phar dump-autoload --optimize"

#Redirect to HTTPS
#files:
#   "/etc/httpd/conf.d/ssl_rewrite.conf":
#        mode: "000644"
#        owner: root
#        group: root
#        content: |
#            RewriteEngine On
#            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
#            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
#            </If>
