option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 128M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "Off"
    max_execution_time: 60
    composer_options: --no-dev
  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root

# Set composer folder for this command and update
commands:
   updateComposer:
      command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"

container_commands:
   00optimize:
      command: "/usr/bin/composer.phar dump-autoload --optimize"

#Redirect to HTTPS
#files:
#   "/etc/httpd/conf.d/ssl_rewrite.conf":
#        mode: "000644"
#        owner: root
#        group: root
#        content: |
#            RewriteEngine On
#            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
#            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
#            </If>

#increase upload
files:
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 64M
      post_max_size = 64M
