container_commands:
  01_rmDevDB:
    command: "rm database.php"
    cwd: "/var/app/ondeck/config"
    leader_only: true
  02_rmDevAPP:
    command: "rm app.php"
    cwd: "/var/app/ondeck/config"
    leader_only: true
  03_mvProDB:
    command: "mv database.pro database.php"
    cwd: "/var/app/ondeck/config"
    leader_only: true
  04_mvProAPP:
    command: "mv app.pro app.php"
    cwd: "/var/app/ondeck/config"
    leader_only: true
  07_cache:
    command: "php artisan cache:clear"
    cwd: "/var/app/ondeck"
  08_optimize:
    command: "php artisan optimize --force"
    cwd: "/var/app/ondeck"
  09_rmDevAPP:
    command: "rm mail.php"
    cwd: "/var/app/ondeck/config"
    leader_only: true
  10_mvProAPP:
    command: "mv mail.pro mail.php"
    cwd: "/var/app/ondeck/config"
    leader_only: true

